body {
  background-color: lightgray;
  color: gray;
}

.display_main_category {
  font-size: 1.7rem;
  color: darkslategray;
}

.display_main_category span {
  font-size: 1rem;
  text-decoration: underline;
}

.search_list__items {
  padding: 1vh 1vw;
  margin: 1vw;
  font-size: 1rem;
  border-style: none;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: gray;
}

.subcategory_list {
  color: darkslategray;
}

.item_lists {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  padding: 4px;
  background-color: gray;
  width: 10%;
  color: black;
  margin-top: -5px;
  border: 1px solid gray;
  margin: 5px;
}

.item_lists:hover {
  border: 1px solid blue;
  transform: scale(1.1);
}

.list {
  font-size: 1.3rem;
  margin-left: 1vw;
  display: inline-block;
  display: block;
  color: darkslategray;
  font-weight: bold;
}
